<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Passwod Generator </h1>
    <form action="{% url 'password' %}">
        <select name="length">
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9" selected="selected">9</option>
        </select>
        <br>
        <input type="checkbox" name="uppercase">Uppercase
        <br>
        <input type="checkbox" name="numbers">Numbers
        <br>
        <input type="checkbox" name="special">Special Characters
        <br>


        <br><br>
        <input type="submit" value="Generate password">

    </form>

    <a href="{% url 'about' %}">about</a>
</body>
</html>